/node_modules
/public/hot
/public/storage
/public/mix-manifest.json
/public/css/app.*
/public/css/style.*
/public/js/app.*
/public/js/common.*
/storage/*.key
/resources/assets/sass/admin/bootstrap.min.css.map
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
Vagrantfile
composer.lock
yarn.lock
/package-lock.json
/storage/app/public/sport/*
.vscode/*
*.sql
*.DS_Store
/resources/assets/sass/admin/bootstrap.min.css.map
/public/robots.txt
public/images/vendor/owl.carousel/src/owl.video.play.png